.navbar {
  display: flex;
  padding: 1rem;
  background-color: var(--primary-violet);
  margin-bottom: 2rem;
  grid-area: navbar;
}

.brand-name a {
  margin-right: 0.5rem;
}

.navbar a {
  color: var(--secondary-white);
}

.nav-links {
margin-left: auto;
}

.nav-links .fa-heart {
  color: var(--secondary-white);
  padding: 0;
  border: none;
}

.nav-links .fa-heart:hover {
  color: var(--secondary-white);
  background-color: transparent;
}
